<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adityagunjal.sdl_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookmarksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name=".SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name=".ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".AnswerQuestionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".SearchableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ShowAnswerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>